@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

#content-container {
  justify-content: center;
  height: 2000px;
  width: 1440px;
  background-image: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

#accordion-content {
  display: flex;
  flex-direction: row;
  background-image: url(./images/bg-pattern-desktop.svg);
  margin: auto;
  height: 700px;
  width: 1000px;
}

button {
  padding-left: 0;
  text-align: left;
  background: none;
  border: none;
  border-bottom: 1px solid hsl(240, 5%, 91%);
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}